Appium-Python-Client==2.1.2
APScheduler==3.8.1
async-generator==1.10
attrs==21.4.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
colorama==0.4.4
cryptography==36.0.1
frida==15.1.14
frida-tools==10.4.1
h11==0.12.0
idna==3.3
jieba==0.42.1
loguru==0.5.3
lxml==4.7.1
outcome==1.1.0
parse==1.19.0
prompt-toolkit==3.0.24
pycparser==2.21
pycryptodomex==3.12.0
Pygments==2.10.0
pyOpenSSL==21.0.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.26.0
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
tqdm==4.62.3
trio==0.19.0
trio-websocket==0.9.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
wcwidth==0.2.5
win32-setctime==1.0.4
wsproto==1.0.0
chardet==4.0.0
