/node_modules/
/CookieSet.json
/jdCookie.js
/JD_DailyBonus.js
/__pycache__/
backUp/__pycache__/jd_bean_api.cpython-36.pyc
backUp/__pycache__/notify.cpython-36.pyc
backUp/dpqd_shopid.txt
backUp/dpqd_token.txt
